commands:
  01_install_node:
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    cwd: /tmp
    command: curl --silent --location https://rpm.nodesource.com/setup_14.x | sudo bash -
  02_install_yarn_repo:
    test: '[ ! -f /etc/yum.repos.d/yarn.repo ] && echo "yarn repo not installed"'
    cwd: /tmp
    command: curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | sudo tee /etc/yum.repos.d/yarn.repo
  03_install_yarn:
    test: '[ ! -f /usr/bin/yarn ] && echo "yarn not installed"'
    command: rpm -Uvh --nodeps $(repoquery --location yarn)